package main

type configuration struct {
	ClientID     string
	ClientSecret string
	RedirectURI  string
	APIKey       string
}

var config *configuration

func init() {
	config = &configuration{
		ClientID:     "CLIENTID",
		ClientSecret: "CLIENTSECRET",
		RedirectURI:  "REDIRECTURI",
		APIKey:       "APIKEY",
	}
}
