$button: #2f2f2f;
$dark-box: #252525;
$presence: #18191c;
$base: #0c0c0c;

$header-gradient: linear-gradient(to right, #cd59a4, #b45afd);;
$background-gradient: radial-gradient(ellipse 150% 100vh at 100% 0%, #272727 10%, #232323 40%, $base);
$background-gradient-mobile: radial-gradient(ellipse 150% 100vh at 100% 0%, #272727, $base);
