$blurple: #6c82cf;
$dark-box: #252525;
$presence: #18191c;

$header-gradient: linear-gradient(to right, #e15a6e, #eaae70);;
$background-gradient: radial-gradient(ellipse 150% 100vh at 100% 0%, #8d3c38 10%, #55212e 30%, #1e1e1e);
$background-gradient-mobile: radial-gradient(ellipse 150% 100vh at 100% 0%, #8d3c38, #1e1e1e);
