$blurple: #6c82cf;
$dark-box: #252525;
$presence: #18191c;

$header-gradient: linear-gradient(to right, #a8dfe1, #256e97);;
$background-gradient: radial-gradient(ellipse 150% 100vh at 100% 0%, #4D74A9 10%, #395995 40%, #1e1e1e);
$background-gradient-mobile: radial-gradient(ellipse 150% 100vh at 100% 0%, #395995, #1e1e1e);
