@import "./mixins.scss";

#cp {
    // display: grid;
    // grid-template: auto auto / 1fr 1fr;
    // @include isMobile() {
    //     grid-template: none;
    //     grid-auto-flow: row;
    // }
    // gap: 20px;

    // >:nth-child(2) >div {
    //     display: inline-block;
    // }
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    @include isMobile() {
        grid-auto-rows: auto;
    }
    gap: 20px;

    >div:not(:nth-child(1)) {
        padding-top: 0;
    }

    >:first-child { // Control Panel
        grid-row: 1 / 3;
    }
    >:nth-child(2) { // Settings
        grid-column: 2 / 5;
    }
    >:nth-child(3) { // Actions
        grid-column: 2 / 4;
    }
    >:nth-child(4) { // Hey you...
        p {
            margin: 0;
        }
        span {
            color: yellow;
        }
    }
    >:nth-child(5) { // Come hang out
        grid-column: 1 / 3;
    }
    >:nth-child(6) { // Tweets
        grid-column: 3 / 5;
        display: flex;
        flex-direction: column;
        height: 350px;
        padding: 0;
        div {
            min-height: 100px;
            overflow: auto;
        }
        h2 {
            padding-left: 30px;
        }
        iframe {
            border-radius: 10px;
        }
    }

    @include isMobile() {
        >div {
            grid-column: 1 / 1 !important;
        }
    }
}

#actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    margin-top: 0;
}

form h4 {
    margin: 15px 0 10px;
}

label {
    display: inline-block;
    line-height: 1.5em;
}

input {
    &[type=text] {
        padding: 5px;
        background-color: #545454;
        color: white;
        border: none;
        border-radius: 3px;
        outline: none;
    }

    &[type=submit] {
        font-size: 1em;
    }
}

.__react_component_tooltip {
    max-width: 150px;
}