@import "./mixins.scss";

.transform-flip {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    transform: scaleX(-1);
    z-index: 100;
    pointer-events: none;
}

#cp-decoration-left {
    top: 450px;
    right: min(2%, 50px); // flipped, so left is right and right is left
    width: 350px;
}

#cp-decoration-right {
    top: 180px;
    left: 13%;
    width: 250px;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) -10px 10px 5px);
}

#cp {
    // display: grid;
    // grid-template: auto auto / 1fr 1fr;
    // @include isMobile() {
    //     grid-template: none;
    //     grid-auto-flow: row;
    // }
    // gap: 20px;

    // >:nth-child(2) >div {
    //     display: inline-block;
    // }
    display: grid;
    grid-template: auto auto / repeat(4, 1fr);
    @include isMobile() {
        grid-auto-rows: auto;
    }
    gap: 20px;

    >div:not(:nth-child(1)) {
        padding-top: 0;
    }

    >:first-child { // Control Panel
        grid-row: 1 / 3;
    }
    >:nth-child(2) { // Settings
        grid-column: 2 / 5;
    }
    >:nth-child(3) { // Actions
        grid-column: 2 / 4;
    }
    >:nth-child(4) { // Hey you...
        p {
            margin: 0;
        }
        span {
            color: yellow;
        }
    }
    >:nth-child(5) { // Come hang out
        grid-column: 1 / 3;
    }
    >:nth-child(6) { // Tweets
        grid-column: 3 / 5;
        display: flex;
        flex-direction: column;
        height: 350px;
        padding: 0;
        div {
            min-height: 100px;
            overflow: auto;
        }
        h2 {
            padding-left: 30px;
        }
        iframe {
            border-radius: 10px;
        }
    }

    @include isMobile() {
        >div {
            grid-column: 1 / 1 !important;
        }
        padding: 0;
        margin: 0;
    }
}

#actions {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

h1 {
    margin-top: 0;
}

form h4 {
    margin: 15px 0 10px;
}

label {
    display: inline-block;
    line-height: 1.5em;
}

input {
    &[type=text] {
        padding: 5px;
        background-color: #545454;
        color: white;
        border: none;
        border-radius: 3px;
        outline: none;
    }

    &[type=submit] {
        font-size: 1em;
    }
}

.__react_component_tooltip {
    max-width: 150px;
}