@import "./mixins.scss";

#cp {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    @include isMobile() {
        grid-template: none;
        grid-auto-flow: row;
    }
    row-gap: 20px;

    :nth-child(even) {
        justify-self: right;
    }
}

h1 {
    margin-top: 0;
}

label {
    display: inline-block;
    line-height: 1.5em;
}

input {
    &[type=text] {
        padding: 5px;
        background-color: #545454;
        color: white;
        border: none;
        border-radius: 3px;
        outline: none;
    }

    &[type=submit] {
        font-size: 1em;
    }
}

.__react_component_tooltip {
    max-width: 150px;
}