#release-link {
    font-size: 1.5em;
    padding: 0.5em;
    margin-top: 0;
}

#release-info p {
    word-wrap: break-word;
}

li {
    ol & {
        padding-left: 20px;
        list-style-type: lower-roman;
    }
    &::marker {
        color: #bdbdbd;
    }
}