/* =======
    FONTS
   ======= */
@font-face {
    font-family: "Whitney";
    font-weight: 400;
    font-display: swap;
    src: url("../fonts/whitney-400.woff");
}
@font-face {
    font-family: "Whitney";
    font-weight: 600;
    font-display: swap;
    src: url("../fonts/whitney-600.woff");
}
@font-face {
    font-family: "Whitney";
    font-weight: 700;
    font-display: swap;
    src: url("../fonts/whitney-700.woff");
}

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

@import "mixins.scss";
@import "colors.scss";

/* ========
    GLOBAL
   ======== */
body {
    height: 100vh;
    margin: 0;
    padding: 0;

    background: no-repeat $background-gradient, #1e1e1e;

    @include isMobile() {
        background: no-repeat $background-gradient-mobile, #1e1e1e;
    }
}

::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-track {
    background-color: #333333;
}

::-webkit-scrollbar-thumb {
    background-color: #555555;

    &:hover {
        background-color: #5e5e5e;
    }
}

#root {
    min-height: 100%;
    position: relative;
}

#view {
    padding-bottom: 300px;
    @include isMobile() {
        padding-bottom: 250px;
    }
}

.Toastify__progress-bar--dark {
    background-color: $blurple !important;
}

.__react_component_tooltip.show {
    opacity: 1 !important;
}

/* ===================
    NON-PAGE ELEMENTS
   =================== */
#info-banner {
    background-color: #174b36;
    text-align: center;
    font-size: 0.9rem;
    font-weight: 500;

    p {
        margin: 0;
        padding: 2px;
    }

    code {
        color: #ffb7b7;
    }

    :hover {
        cursor: pointer;
    }
}

#nav {
    margin: 0 auto 60px;
    padding-top: 40px;
    max-width: 800px;

    font: 500 15px sans-serif;
    line-height: 40px;
    // border-bottom: 1px dashed #454545;

    a {
        text-decoration: none;
        color: white;
        transition: color .5s ease;

        &:hover {
            color: #ddd;
        }
    }

    label, input {
        display: none;
    }

    // The logo
    >a {
        margin-right: 20px;
        display: flex;
        float: left;
        font-size: 20px;
    }

    ul {
        margin: 0;
        padding: 0;
        
        list-style: none;
    
        li {
            display: inline;
            margin: 0px 20px;
        }
    }

    @include isMobile() {
        >a {
            position: absolute;
        }
    
        label {
            display: block;
            margin: 0px 20px;
            text-align: right;
            font-size: 20px;
            color: white;
            text-shadow: black 3px 3px 1px;
        }   
    
        li {
            display: block;
        }
    
        ul {
            display: none;
            margin-top: 10px;
        }
        input:checked ~ ul {
            display: flex;
            flex-direction: column;
        }
    }
}

#footer {
    position: absolute;
    bottom: 0;
    width: 100%;

    > div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15%;
        width: 70%;

        @include isMobile() {
            flex-direction: column;
            padding: 5px 10px 20px;
            width: calc(100% - 20px);
        }

        background-color: #2a2a2a;

        a:not(:first-child) {
            margin-left: 10px;
        }
    }
}

/* ============================
    DEFAULT VALUES AND CLASSES
   ============================ */
p, h1, h2, h3, h4, a, li, label, input[type=submit], .__react_component_tooltip {
    color: white;
    font-family: 'Segoe UI', Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Montserrat', 'Segoe UI', Geneva, Verdana, sans-serif;
    color: transparent;
    background-image: $header-gradient;
    background-clip: text;
    -webkit-background-clip: text;
}

h1:not(#title>h1) {
    display: inline;
    border-top: 3px solid #ecfff3;
    &::after {
        content: '';
        display: block;
        height: 3px;
        width: 75px;
        background-color: #ecfff3;
    }
}

.grey {
    color: #a3a3a3;
}

code {
    color: #ff6d6d;
    .Toastify & {
        color: #d8d8d8;
    }
}

a:not(#nav a, .button) {
    text-decoration: none;
    border-bottom: 2px dashed #aeaeae;

    &:hover {
        border-color: #d8d8d8;
    }
}

.generic-text {
    margin: 0 auto;
    &:not(.no-padding) {
        padding: 0 20px 60px;
    }
    &.top-padding {
        padding-top: 45px;
    }
    width: min(calc(100% - 40px), 1000px);
}

.float-right {
    float: right;
}

.button {
    display: inline-block;
    margin: 10px 7px 0;
    padding: 8px 0;
    min-width: 160px;

    border-radius: 5px;
    border: 2px solid $blurple;
    outline: none;
    color: white;
    background-color: $blurple;
    box-shadow: 0 0 10px #050505;
    
    text-align: center;
    line-height: 1rem;
    text-decoration: none;

    &:hover, &:focus {
        border-color: white;
    }

    &:active {
        transform: scale(.96);
    }
}

.boxed {
    padding: 30px;
    background-color: $dark-box;
    border-radius: 5px;
    box-shadow: 0 0 8px #131313;
}

.svg-spacer {
    display: block;
    width: 100%;
    height: max(130px, 10vw);

    &.flip {
        transform: rotate(180deg);
    }
}

.sidebar-decoration {
    @media screen and (max-width: 1400px) {
        display: none;
    }
    position: absolute;
    filter: drop-shadow(rgba(0, 0, 0, 0.5) 10px 10px 5px);
    animation: hovering 3s cubic-bezier(0.445, 0.05, 0.55, 0.95) infinite alternate;
}

@keyframes hovering {
    0% {
        transform: translateY(20px);
    }
    100% {
        transform: translateY(0px);
    }
}
